.parent{
    display: flex;
    background-color:yellowgreen;
    width: 100vw;
    height: 100vh;

}
.child1{
    background-color: blue;
    width: 20vw;
    height: 100vh;
   


}
.child2{
  
    background-color: orange;
    width: 80vw;
    height: 100vh;

}
